@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
   /* Add your CSS styles here */
.loader {
    border: 4px solid rgba(0, 0, 0, 0.3);
    border-top: 4px solid #000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  .loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* This ensures the container takes the full height of the viewport */
}

   .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .bg-poster {
    background-image: url('../src//assets/poster1.png');
  }
  
  @media (max-width: 768px) {
    .bg-poster {
      background-size: cover;
      height: 400px; /* Adjusted the height as for mobile */
      /* height: 50vh; */
    }
  }


}